<iframe src="https://calendar.google.com/calendar/embed?src=cornell.edu_96b9huno2gtmfjb2svn57mdglg%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


<!--
<iframe src="https://calendar.google.com/calendar/embed?src=
cornell.edu_96b9huno2gtmfjb2svn57mdglg%40group.calendar.google.com&ctz=America/New_York" 
style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> 





{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
		<li><a href="{%url 'polls:detail' question.id%}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}
-->
